<!DOCTYPE html>
<html>
  <head>
    <title>Home | Vehicle Rental</title>
  </head>

  <body>
     <img class="firstBG" src="/assets/images/car5.jpg" alt="Car Drving Image"/>
      <div>
          <a href="/home"><img class="logo" src="/assets/images/logo3.png" alt="Car Logo"/></a>
        <h1>westminster vehicle rental</h1>
        <h2 class="main">Plan your next journey with us</h2>

        <h2 class="intro">About Westminster Vehicle Rental</h2>
        <p class="introPara">Spanning 874 miles from John O'Groats to Land’s End, 
          the United Kingdom is ideal for traveling by car. 
          Westminster Vehicle Rental car rental in the UK will help you with any
          car journeys in ease and comfort. Whether you need 
          vacation car rental or motorbike rental, there are multiple
          options to suit your needs as well as a huge variety 
          of vehicle models, from economy to luxury car rental.
          There are also several car rental deals available in
          the UK - lots more reasons to enjoy car rental with
          Westminster Vehicle Rental. </p>
        
          <h2 class="intro">Cars Available at Westminster Vehicle Rental</h2>
          <div class = "the-grid">
            <div class="car1">
              <img class="car1Image" src="/assets/images/car1.jpg" alt="Car 1 Image">
              <h3 class="car1Text">Hyundai Accent</h3>
            </div>
            <div class="car2">
              <img class="car1Image" src="/assets/images/car2.jpg" alt="Car 1 Image">
              <h3 class="car1Text" >Nissan Sunny</h3>
            </div>
            <div class="car3">
              <img class="car1Image" src="/assets/images/car3.jpg" alt="Car 1 Image">
              <h3 class="car1Text">Toyota Axio Sunny</h3>
            </div>
            <div class="bookCarbutton">
              <a href ="/book-car">
                <button class = "buttonStyle" routerLink="/book-car"> Book a car now </button>
              </a>
            </div>
          </div>

          <h2 class="intro">Motorbikes Available at Westminster Vehicle Rental</h2>
          <div class = "the-grid">
            <div class="car1">
              <img class="car1Image" src="/assets/images/bike1.jpg" alt="Bike 1 Image">
              <h3 class="car1Text">Suzuki V-Strom</h3>
            </div>
            <div class="car2">
              <img class="car1Image" src="/assets/images/bike2.png" alt="Bike 1 Image">
              <h3 class="car1Text" >Yamaha Sunny</h3>
            </div>
            <div class="car3">
              <img class="car1Image" src="/assets/images/bike3.jpg" alt="Bike 1 Image">
              <h3 class="car1Text">Toyota Axio Sunny</h3>
            </div>
            <div class="bookCarbutton">
                <a href ="/book-motorbike">
                <button class = "buttonStyle1"> Book a motorbike now </button>
              </a>
                </div>
          </div>
      </div>
  </body>
</html>